<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @post.author.full_name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <%= image_tag @post.image %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p><strong>Comments:</strong></p>
  <p class="fw-light">
    <%= render @comments %>
  </p>

  <%= render 'comments/form', locals: { post: @post } %>

</p>

<div class='btn btn-warning'>
  <%= link_to 'Unpublished comments', post_path(@post, unpublished_comments: 1), method: :get %>
</div>
<br>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', posts_path %>
